<nav class="box">
    <div id="nav__spacer" class="box"></div>

    <div id="nav__logos" class="box">
        <a routerLink="/" title="Home">
            <div id="nav__logo" class="box"></div>
        </a>

        <div id="nav__menu-button"
            class="box"
            (click)="toggleMenu()">
            <div id="nav__menu-icon" [ngClass]="{ 'change': isMenuOpen }">
                <div class="bar bar--1"></div>
                <div class="bar bar--2"></div>
                <div class="bar bar--3"></div>
            </div>
        </div>

        <div id="nav__desktop-options" class="box">
                <a *ngFor="let navLink of navLinks | slice:0:5; let i = index;"
                    routerLink="{{navLink.link}}"
                    title="{{navLink.title}}"
                    attr.aria-label="{{navLink.title}} Link">
                    <div class="box desktop__option">{{ navLink.title }}</div>
                </a>
        </div>
    </div>

    <div id="nav__menu-options" class="box">
        <ul id="nav__options" class="box" [ngClass]="{ 'nav__options--open': isMenuOpen }">
            <a *ngFor="let navLink of navLinks; let i = index;"
                routerLink="{{navLink.link}}"
                title="{{navLink.title}}"
                attr.aria-label="{{navLink.title}} Link"
                class="box nav__option"
                (click)="toggleMenu()">
                <li class="box option__li"
                    [ngClass]="{ 'option__li--odd': i%2 != 0, 'option__li--even': i%2 == 0 }">
                    {{ navLink.title }}
                </li>
            </a>
        </ul>
    </div>
</nav>
