<div id="people-component" class="box">

    <h1 class="box">OUR PEOPLE</h1>
    <div (click)="showDepartmentFilters()"
        id="employees__filter-button"
        class="box">
        FILTER BY DEPARTMENT
    </div>
    <!-- <form *ngIf="isFilteringByDepartment"
        id="employees__sort"
        class="box">
        <select [(ngModel)]="selectedDepartmentValue"
            id="employees__sort-select"
            class="box">
            <option disabled>Select A Department</option>
            <option *ngFor="let department of people.departments"
                [value]="department">
                {{ department }}
            </option>
        </select>
    </form> -->

    <div id="people__employees"
        class="box">

        <!-- *ngIf=" showingDepartment == '' || showingDepartment == employee.department " -->

        <div *ngFor="let employee of people.employees"
            (click)="showEmployeeDetails(employee.name)"
            class="box people__employee">
            <div class="box employee__image-border">
                <div [style.background-image]="getImageURLOf(employee.headShotURL)"
                    class="box employee__image">
                </div>
            </div>
            <h3 class="box employee__name">{{ employee.name }}</h3>
            <h4 class="box employee__title">{{ employee.title }}</h4>
        </div>

    </div>

    <div *ngIf="isEmployeeSelected"
        (click)="hideEmployeeDetails()"
        id="people__selected-employee"
        class="box">
        <div class="box people__employee">
            <div class="box employee__image-border">
                <div [style.background-image]="getImageURLOf(selectedEmployee.headShotURL)"
                    class="box employee__image">
                </div>
            </div>
            <h3 class="box employee__name">{{ selectedEmployee.name }}</h3>
            <h4 class="box employee__title">{{ selectedEmployee.title }}</h4>
            <h5 class="box employee__department">
                {{ selectedEmployee.department | uppercase }}
            </h5>
            <div class="box employee__bio"
                [innerHTML]="selectedEmployee.bio">
            </div>
        </div>
    </div>

</div>
