#app-viewport {
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    width: 90%;
    max-width: 1200px;
    flex: 1 0 auto;
}

app-footer {
    flex-shrink: 0;
}
